main {
	margin-left: 170px;
	width: 100%;
}
main.cards {
	width: 80%;
	display: inline-block;
	padding: 32px;
	


}
main.cards figure.cards {
	display: inline-block;
	flex-direction: column;
	margin-left: 25px;
	padding: 1rem 1.5rem;
	background-color: pink;
	border-radius: 8px;
	max-height: 450px;
	box-shadow: 20px 20px 50px -30px #4B395E;
	margin-bottom: 50px;


}

main.cards figure.cards .icon {
	width: 240px;
	height: 350px;
}
main.cards figure.cards img {
	width: 100%;

}
main.cards figure.cards button {
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	border-radius: 32px;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: white;
	background: linear-gradient(to right, #9F66FF, #DFC8FF);
	width: 100%;

}

span{
	margin: 16px 0;
	max-width: 240px;
	font-size: 80%;
	max-height: 100px;
}
a{
	text-decoration: none;
	color: white;
}