
#allcards {
	margin-top: 30px;
	margin-left: 172px ;
	
}

figure{
	display: inline-block;
	margin-left: 25px;
	padding: 16px 24px;
	background-color: pink;
	border-radius: 8px;
	max-height: 450px;
	box-shadow: 20px 20px 50px -30px #4B395E;
	margin-bottom: 50px;


}

.icon {
	width: 240px;
	height: 240px;
}
.cards img {
	width: 100%;

}
#quemsomos{
	height: 300px;
	width: 100%;
}
#qsomos {
	margin-top: 10px;
	width: 50%;
	background-color:pink;
	border-radius: 8px;
	padding: 10px 60px;
}
#qsomos p {
	text-align: justify;
	font-size: 20px;
}
button {
	padding: 8px 16px;
	text-transform: uppercase;
	border-radius: 32px;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: white;
	background: linear-gradient(to right, #9F66FF, #DFC8FF);
	width: 100%;

}
a{
	text-decoration: none;
	color: white;
}