.encomendas {
	width: 100%;
	margin: 0;
	
}

#formulario {
	margin-top: 50px;
	display: inline-block;
	width: 100%;
}

#dados { 
	color: brown;
	font-weight: bold;
	background-color: pink;
	border-radius: 10px;
	border: 0;
	float: left;
	margin: 0;
	width: 250px;
	height: 240px;
	padding: 50px;
	margin-left: 30%;
	box-shadow: 20px 20px 50px -30px #4B395E;

}
#produtos {
	color: brown;
	font-weight: bold;
	background-color: pink;
	border-radius: 10px;
	border: 0;
	box-shadow: 20px 20px 50px -30px #4B395E ;
	float: right;
	display: inline-block;
	margin: 0;
	width: 277px;
	height: 240px;
	padding: 50px;
	display: block;
	margin-right: 28%;

}
#produtos ul li {
	list-style: none;
}
legend {
	background: linear-gradient(to right, #9F66FF, #DFC8FF);
	border-radius: 8px;
	padding: 0 50px;
	color: whitesmoke;
	font-size: 20px;
	font-weight: bold;
}
iframe {
	width:325px;
	height:275px;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 140px;
	box-shadow: 20px 20px 50px -30px #4B395E ;}
#mapa { 
	height: 600px;
	width: 100%;
	margin-top: 50px;
	border-top: 1px white solid;
	background-color: #F25C5C;

}
#mapa h4 {
	color:#261711 ;
	text-shadow: 1px 1px 2px #F23D5E;
	text-transform: uppercase;
	border: 1px solid black ;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 25px;
	border-radius: 8px;
	background-color: pink;
	border: 20%;
	width: 45%;
	text-align: center;
}
#mapa p {
	padding-top: 20px;
	margin-left: 90px;
	font-weight: bold;
}
#botao { 
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 47%;
	padding: 8px 16px;
	text-transform: uppercase;
	border-radius: 32px;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: white;
	background: linear-gradient(to right, #9F66FF, #DFC8FF);
	width: 100px;
}
#icon {
	height: 400px;
	width: 600px;
	background-color: pink;
	border-radius: 10px;
	box-shadow: 20px 20px 50px -30px #4B395E;;
}

